
.top-bar {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.mat-icon {
  background-repeat: no-repeat;
  fill: currentColor;
  height: 24px;
  width: 24px;
  margin-top: 5px;
  float: left;
}
input {
  border: 0;
  width: 50%;
  padding: 10px;
}
