<div class="top-bar">
  <input #input [(ngModel)]="searchText" type="text" (keydown.enter)="search()" placeholder="search">
  <mat-icon>search</mat-icon>
</div>

<div class="result-container">
  <div class="thumbnail" *ngFor="let data of searchResults">
    <div class="thumbnail-img"><img [src]="data.picture_medium"></div>
    <div class="thumbnail-detail">
      <div><a [routerLink]="['/artist-detail', data.id]">{{data.name}}</a></div>
      <div>{{data.nb_album}} <i>Albums</i></div>
      <div>{{data.nb_fan}} Fans</div>
    </div>
  </div>
</div>


