<div class="logo">
  <a href="/" aria-label="Deezer">
    <div class="logo-img">
      <img src="./assets/images/deezer_black@2x.png" />
    </div>
  </a>
</div>
<mat-nav-list role="navigation">
  <a class="active-link" mat-list-item routerLink="/track-list" routerLinkActive="active">
    <div mat-line>Music</div>
  </a>
</mat-nav-list>

<mat-nav-list role="navigation">
  <a class="active-link" mat-list-item routerLink="/artist-list" routerLinkActive="active">
    <div mat-line>Podcasts</div>
  </a>
</mat-nav-list>

<mat-nav-list role="navigation">
  <a class="active-link" mat-list-item routerLink="/favorites" routerLinkActive="active">
    <div mat-line>Favorites</div>
  </a>
</mat-nav-list>
