<div class="logo">
  <a href="/" aria-label="Deezer">
    <div class="logo-img">
      <img src="./assets/images/deezer_black@2x.png" />
    </div>
  </a>
</div>
<mat-nav-list role="navigation">
  <a class="active-link" mat-list-item routerLink="/track-list" routerLinkActive="active">
    <div mat-line>
      <mat-icon>music_note</mat-icon>
      <span class="sidebar-nav-label">Music</span>
    </div>
  </a>
</mat-nav-list>

<mat-nav-list role="navigation">
  <a class="active-link" mat-list-item routerLink="/artist-list" routerLinkActive="active">
    <div mat-line>
      <mat-icon>podcasts</mat-icon>
      <span class="sidebar-nav-label">Podcats</span>
    </div>
  </a>
</mat-nav-list>

<mat-nav-list role="navigation">
  <a class="active-link" mat-list-item routerLink="/favorites" routerLinkActive="active">
    <div mat-line>
      <mat-icon>favorite</mat-icon>
      <span class="sidebar-nav-label">Favorites</span>
    </div>
  </a>
</mat-nav-list>
