<div class="logo">
  <a href="/" aria-label="Deezer">
    <div class="logo-img">
      <img src="./assets/images/deezer_black@2x.png" />
    </div>
  </a>
</div>

<mat-nav-list role="navigation">
  <a mat-list-item routerLink="/artist-list" routerLinkActive="active">
      <mat-icon>settings_accessibility</mat-icon>
      <span class="sidebar-nav-label">Microfrontend</span>
  </a>

  <a mat-list-item routerLink="/album-list" routerLinkActive="active">
      <mat-icon>music_note</mat-icon>
      <span class="sidebar-nav-label">Albums</span>
  </a>

  <a mat-list-item routerLink="/favorites" routerLinkActive="active">
      <mat-icon>favorite</mat-icon>
      <span class="sidebar-nav-label">Favorites</span>
  </a>
</mat-nav-list>
