mat-sidenav-container{
  background: #fff;
  height: 100%;
  display: block;
  margin-right: 15px;
}

mat-side-nav {
  padding: 16px;
}

mat-sidenav {
  background-color: #fff;
  width: 200px;
  border-right: 1px solid #eee;
}
