mat-sidenav-container{
  background: #fff;
  height: 100%;
  display: block;
  margin-right: 15px;
}

mat-side-nav {
  padding: 16px;
}

mat-sidenav {
  background-color: #fff;
  border-right: 1px solid #eee;
}

@media (max-width: 767px) {
  .hide-for-small {
     display: none;
  }
}
