.container{
  padding: 20px;
}
.left, .right {
  display: inline-block;
  width: 50%;
}
.right {
  vertical-align: top;
}
img.artist-thumb {
  width: 100%;
  max-height: 250px;
}
img.cover_medium {
  max-width: 150px;
}
.album-block {
  display: inline-block;
  padding: 20px 10px;
  max-width: 190px;
}
span.year {
  font-weight: 200;
  display: block;
}

.artist-header-text {
  position: absolute;
  top: 14%;
  color: black;
  text-shadow: 0px 0px 3px #fff;
  padding-left: 10px;
}
